@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

:root {
  --clr-prim: 255 255 252;
  --clr-sec: 0 128 0;
  --clr-ter: 255 165 0;
  --clr-bg: 29 28 47;
  --clr-txt: 238 238 238;
  --clr-btn: 75 20 124;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;*/
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--clr-bg);
  color: var(--clr-txt);
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Font descrizione */

.orbitron-regular {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.orbitron-semibold {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.orbitron-black {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

h1 {
  font-family: "Orbitron", sans-serif;
  font-size: clamp(1.2rem, 2.5vw, 3rem);
  font-weight: 900;
}

.temporary-bounce {
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
}
